.progress-bar-portfolio {
    position: absolute;
    bottom: -.3rem;
    left: 0;
    right: 0;
    height: .3rem;
    background: rgb(21, 114, 182, 1);
    transform-origin: 0%;    
  }
/*Menu*/
.nav-link:hover{
    color: rgb(21, 114, 182) !important;
}
.nav-link.active{
    color: rgb(21, 114, 182) !important;
    font-weight: bolder;
    text-decoration: underline;    
}
.navbar-brand:focus, .navbar-brand:hover{
    color: #1572B6 !important;
    font-weight: bolder;
}
.menu a{
    color: white;    
}
.menu a:hover{
    color: white;
}
.menu{transition: .2s ease-in-out;}
.navbar-toggler{
    background-color: white !important;
}
/*Inicio*/
.inicio-bg{
    background-image: url(./assets/img/bgport.jpg);
    background-size: cover;
}
.inicio-wrapper{
    height: 100vh;        
    position: relative;
    overflow: hidden;
}
.inicio-text-intro{
    position: relative;
    z-index: 2;
    padding: 3rem;
    text-align: center;
}
.inicio-text-intro h1{
    font-size: 5.6rem;
    line-height: 100%;
    font-family: "TWK Everett", "Helvetica Neue", Helvetica, "Arial sans-serif";
    letter-spacing: -0.05em;
    font-weight: bold;
    text-shadow: 5px 5px 4px rgba(255,255,255,0.34)
}
.inicio-text-intro h4{
    font-size: 2.6rem;
}
.inicio-text-intro p{
    color: rgb(21, 114, 182);
    font-weight: bolder;
    font-size: 1.5rem;
}
.inicio-code-left-bg{
    position: absolute;
    z-index: 1;
    width: 650px;    
    left: -350px;
    bottom: 0;
    opacity: .4;
    transform: rotate(180deg);
    -webkit-filter: blur(6px);
    filter: blur(6px);
    transition: .3s ease-in-out;
}
.inicio-code-right-bg{
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
    right: -41px;
    top: 2%;
    opacity: .5;
    -webkit-filter: blur(3px);
    filter: blur(3px);   
    transition: .3s ease-in-out; 
}
.inicio-tecnologies svg{
    width: 4em;
    background-color: #25262a;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    transition:  transform .2s  cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.inicio-tecnologies .react{
    fill: #61DAFB;
    right: 10%;
    
}
.inicio-tecnologies .css3{
    fill: #1572B6;
    top: 0;
    left: 40%;
}
.inicio-tecnologies .html5{
    fill: #E34F26;
    bottom: 20%;
}

/*Biografia css*/
.biografia-wrapper{            
    color: white;
}
.biografia-wrapper ul{
    list-style: none;
    padding: 0;
}
.biografia-wrapper label{
    font-weight: bolder;
}
.about-me {
    position: relative;
}
.about-me .social-icons {
    bottom: -15px;
    left: 0;
    position: absolute;
    right: 0;
}
.about-me .img {
    position: relative;
}
.about-me .img-in {
    border: 5px solid;
    border-color: rgb(54, 119, 162);
    border-radius: 50%;
    margin: auto;
    max-height: 358px;
    max-width: 356px;
    overflow: hidden;
}
.social-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.social-icons a{
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #0b0b13;
    height: 35px;
    line-height: 1.6;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .35s ease;
    width: 35px;
}
.social-icons a:hover{
    background: rgb(54, 119, 162);
    color: #fff;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.social-icons a:first-child{
    top: -25px;
    position: relative;
}
.social-icons a:nth-child(2){
    top: -8px;
    position: relative;
}
.social-icons a:nth-child(4){
    top: -8px;
    position: relative;
}
.social-icons a:nth-child(5){
    top: -25px;
    position: relative;
}
.blinkit {
    -webkit-animation: blink-anime 1.6s infinite;
    animation: blink-anime 1.6s infinite;
}

.servicios .my-auto{    
    min-height: 500px;
    display: grid;
    align-content: center;
}
.servicios-text{
    width: 80%;
}
.servicios{
    position: relative;   
}
.servicios .row{
    position: relative;
    z-index: 2;
}
.accordion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    border-radius: 50px;
    --bs-accordion-bg: transparent !important;
    
}
.accordion-body{
    color: white;
}
.accordion-item{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.accordion-item button{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    border: none;   
    text-align: left; 
    color: white;
    position: relative;
}
.accordion-item span{
    font-size: 20px;
    vertical-align: text-top;
    font-weight: lighter;
    padding-right: 10px;  
    float: left;  
}
.accordion-item h2{
    float: left; 
}
.accordion-item svg{
    width: 1em;
    height: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
}
@keyframes blink-anime {
    0% {
        fill: #000;
    }
    49% {
        fill: #000;
    }
    60% {
        fill: transparent;
    }
    99% {
        fill: transparent;
    }
    100% {
        fill: #000;
    }
}
/*Experiencia*/
.experiencia-wrapper{
    color: white;
}
.tecnologias{
    display: inline-block;
    justify-content: center;
}
.tecnologias svg{
    width: 3em;
    height: 3em;
    margin: 10px;
}
.resume-row{
    background-color: rgb(20, 18, 31);
    margin-top: 2em;
    border-radius: 15px;
    padding: 35px;
}
.resume-row h6{
    font-weight: bolder;
    font-size: 20px;
}
.resume-row span{
    background-color: rgb(21, 114, 182, 1);
    padding: 10px;
    border-radius: 10px;
}
.rb-time{
    font-weight: bolder;
}
.rb-left{
    border-right: 1px solid hsla(0,0%,100%,.05);
}
.reconocimiento-item{
    background-color: rgb(20, 18, 31);
    margin-top: 2em;
    border-radius: 15px;    
}
.reconocimiento-item h6{
    font-weight: bolder;
    font-size: 20px;
}
.reconocimiento-item p{
    font-weight: lighter;
}
.educacion h5{
    font-weight: lighter;
}
.tecnologias{
    fill: white;
}
/*Proyectos*/
.proyectos h1{
    color: white;
}
.proyectos a{
    color: white;
}
.proyectos a:hover{
    color: #1572B6;
}

.proyectos-image{
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    display: block;
    height: 100%;
    -webkit-transition: -webkit-box-shadow .2s ease-out;
    transition: -webkit-box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out,-webkit-box-shadow .2s ease-out;
    width: 100%;
    background-color: #f9f9f9;
    color: black;
    text-decoration: none;
}
.proyectos-image figure{
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    
}
.proyectos-image:hover img{
    -webkit-box-shadow: 0 10px 35px rgba(0,0,0,.1);
    box-shadow: 0 10px 35px rgba(0,0,0,.1);
    text-decoration: none;
    transform: scale(1.1);
    
}
.proyectos-image img{
    transition: all .55s;
}
.proyectos-image:hover .proyectos-info{
    display: grid;
    place-items: center;
}
.proyectos-info{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
}
.proyectos-info svg{
    width: 2em;
    height: 2em;
    padding: 5px;
    fill: white;
    background: #0b0b13;
    margin: 4px;
    border-radius: 5px
}
.proyectos-info a:hover svg{
    fill:rgb(54, 119, 162);
    background: rgb(52, 52, 52);
}
/*footer*/
footer{
    color: white;
    background-color: rgb(20, 18, 31);    
}
.social-icons-footer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;  
}
.social-icons-footer a{
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #0b0b13;
    height: 35px;
    line-height: 1.6;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .35s ease;
    width: 35px;
}
.social-icons-footer a:hover{
    background: rgb(54, 119, 162);
    color: #fff;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 
footer ul{
    list-style: none;
    text-align: left;
    padding: 0;
}
footer li{
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    color: white;    
}
footer a:hover{
    color: rgb(54, 119, 162);
}
footer u{
    color: rgb(54, 119, 162);
    font-weight: bold;
}
.footer-bottom label{
    font-weight: bolder;
    color: rgb(54, 119, 162);
}
.footer-bottom span{
    font-weight: lighter;
}
@media (max-width: 989px) { 
    .rb-right{
        padding-top: 30px;
    }
}
@media (max-width: 768px) { 
    .accordion{
        position: relative;
    }
    .servicios .my-auto{    
        min-height: auto;
    }
    
    .rb-left{
        border: none;
        padding-bottom: 20px;
    }
}
@media (max-width: 425px) { 
    footer{
        text-align: center;
    }
    footer ul{
        text-align: center;
    }
    .inicio-code-right-bg{
        right: -190px;
    }
    .inicio-code-left-bg{
        left: -450px;
    }
    .servicios-text{
        width: 100%;
    }
    .footer-bottom{
        text-align: center;
    }
    .social-icons-footer{
        padding-top: 20px;
        justify-content: center;
    }
    .accordion-item h2{
        font-size: 20px;
    }
    .educacion h5{
        font-size: 18px;
    }
    .inicio-exp{
        justify-content:center;
        padding-bottom: 20px;
    }
    .inicio-text-intro h1{
        font-size: 2.6rem;
    }
    .inicio-text-intro h4{
        font-size: 1.2rem;
    }
    .inicio-text-intro p{
        font-size: 1rem;
    }
}
@media (max-width: 375px) { 
    .inicio-text-intro h1{
        font-size: 2.1rem;
    }
    .inicio-text-intro h4{
        font-size: 1.4rem;
    }
}